<span class="flex">
    <span class="flex-grow-1">{{'createSmartContract.name' | translate}}:</span>
    <span class="flex-grow-0">{{ transaction.transactionValue.name}}</span>
</span>
<hr>
<span class="flex">
    <span class="flex-grow-1">{{'createSmartContract.contractAddress' | translate}}:</span>
    <span class="flex-grow-0">{{ transaction.transactionInfo.contractAddress}}</span>
</span>
<hr>
<span class="flex">
    <span class="flex-grow-1">{{'createSmartContract.consumeUserResourcePercent' | translate}}:</span>
    <span class="flex-grow-0">{{ transaction.transactionValue.consumeUserResourcePercent}}</span>
</span>
<hr>
