/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'MyFont';
  src: url('assets/fonts/RobotoMono-Regular.ttf');
}

* {
  font-family: MyFont;
}
