<p-table
  [value]="transactions"
  [lazy]="true"
  (onLazyLoad)="load($event)"
  dataKey="hash"
  [paginator]="true"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rows]="10"
  [totalRecords]="totalRecords"
  [loading]="loading"
  sortField="timestamp"
  [sortOrder]="-1"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Block</th>
      <th pSortableColumn="timestamp">
        Timestamp <p-sortIcon field="timestamp" />
      </th>
      <th>Type</th>
      <th>Hash</th>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Amount</th>
      <th>Fees</th>
      <th>Details</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-tx>
<!--    <p-overlayPanel #txDetails appendTo="body">-->
<!--      <app-transaction-details-->
<!--        [transactionValue]="tx.transactionValue"-->
<!--        [transactionType]="tx.type"-->
<!--      ></app-transaction-details>-->
<!--    </p-overlayPanel>-->

    <tr>
      <td>{{ tx.blockNumber }}</td>
      <td>{{ tx.timestamp }}</td>
      <td>{{ tx.type }}</td>
      <td>
        <a href="/transaction/{{ tx.hash }}">{{ tx.hash | cutDot }}</a>
      </td>
      <td *ngIf="tx.sender === address">Its you</td>
      <td *ngIf="tx.sender !== address">
        <a href="/account/{{ tx.sender }}">{{ tx.sender | cutDot }}</a>
      </td>
      <td *ngIf="tx.receiver === address">Its you</td>
      <td *ngIf="tx.receiver !== address">
        <a href="/account/{{ tx.receiver }}">{{ tx.receiver | cutDot }}</a>
      </td>
      <td>{{ Number(tx.amount) | number : '1.6-6' }}</td>
      <td>{{ Number(tx.fee) | number : '1.6-6' }}</td>
      <td>
<!--        <i-->
<!--          *ngIf="tx.transactionValue"-->
<!--          class="pi pi-info-circle"-->
<!--          (mouseover)="txDetails.toggle($event)"-->
<!--          (mouseleave)="txDetails.toggle($event)"-->
<!--        ></i>-->
      </td>
    </tr>
  </ng-template>
</p-table>
